<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for product_info in cart.values() %}
            <tr>
                <td>{{ product_info['name'] }}</td>
                <td>${{ product_info['price'] }}</td>
                <td>{{ product_info['quantity'] }}</td>
                <td>${{ product_info['price'] * product_info['quantity'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Total: ${{ total }}</p>
</body>
</html>
